header {
	text-align: center;
}

body {
	background-image: url('../images/background-image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'PT Serif', sans-serif;
}

.main {
	max-width: 420px;
	min-height: 300px;
	background-color: lightgray;
	border: black 3px solid;
	border-radius: 10px;
	margin: 4.5em auto;
	padding: 3em 4em;
}

.questions-text,
.results-text {
	display: none;
}

h2, h3 {
	text-align:center;
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
}

form {
	text-align: left;
}

button {
	padding: 1em 2em;
	background-color: green;
	font-weight: bold;
	color: white;
	font-size: 20px;
	border-radius: 10px;
	border: none;
	font-family: 'PT Sans', sans-serif;
}

.button {
	text-align: center;
	margin-top: 2em;
}

.logo {
	margin-top: 2em;
}

.choiceList {
	width: 240px;
	display: inline-block;
	float: left;
	position: relative;
	padding-top: 18px;
}

.icon {
	width: 160px;
	height: 140px;
}

.iconDiv {
	width: 160px;
	height: 140px;
	display: inline-block;
	float: right;
	margin: 1em 0 0 16em;
	position: fixed;
}

input[type="radio"] {
	margin-top: 1em;
}